    .tb-bg-color{
      margin-top: .3rem;
      margin-bottom: .3rem;
      padding-top: .3rem;
      
  }

  .col-border{
      background-color: white;
      border: .7px solid black;
  }

  #first-row{
      background-color: #FE8C01;
      color: white;
  }

  .leader-board-container{
      margin-top: 1.5rem;
  }

  .dropdown-toggle{
      background-color: #FE8C01;
      color: white;
  }

  .signin-button{
      background-color: #31FB83;
      color: #FFF;
  }

  .signup-form{
    background-color:transparent;
    opacity: 10;
    display: block;
    width: 100%;
    height: auto;
    max-width: 440px;
    padding: 15px;
    margin-left: 70%;
    margin-top:2.5em;
    
  }

  .image-class{
    max-width: 375px;
    max-height: 380px;
    top: 55%;
    margin-top: 30px;
    margin-left:50px;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-right: 15px;
    padding-left: 120px;
    background-attachment: fixed;
  }

  .row{
      margin-top: 20px;
      margin-bottom: 10px;
  }
  
  .col-sm-6{
      
      margin-right: 100px;
      margin-left: 10px;
      margin-bottom: 20px;
  }

