 {% extends 'base.html' %}  {% comment %} extending base template for  includingnavigation bar  {% endcomment %}
 
 {% comment %} This is about_us.html template which includes code of information of the developers of this application  {% endcomment %}
 {% comment %} Author :Meet Patel {% endcomment %}


 {% load static %}            {% comment %} static directory is loaded here {% endcomment %}

{% block content %}
<div class="card" style="margin-top:3%; margin-left: 20%; margin-right:20%">
    <div class="row no-gutter">
        <div class="col-auto">
            <img src="{% static 'images/codemania_logo.png' %}" class="img-thumbnail"
			 style="height:200px; width:200px"alt="">
        </div>
        <div class="col">
            <div class="card-block px-2 mt-2">
            	<h4 class="card-title .display-1 ">CODEMANIA</h4>
                <p class="card-text .display-2">The purpose of CODEMANIA is to provide online environment where you
				 can practice different different languages into one single application and
				 you may participate in the contest to check your knowledge.</p>
            </div>
        </div>
    </div>
</div>

</div>
<div class="container mt-4 ml-2 mb-4">
	<h1 class="text-center text-dark">About Us</h1><br><br>
		<center>
			<div class="row">
				{% comment %} information about nishit popat included here {% endcomment %}
				<div class="col-md-3">
					<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
						<img src="https://media-exp1.licdn.com/dms/image/C5603AQGBtAoe6MKXdA/profile-displayphoto-shrink_400_400/0/1616091501763?e=1621468800&v=beta&t=ltHdwWYmwMwTA1duKoz7SQq8wEiEP2gDUE0m6zfbiws" class="card-img-top" style="height:240px">
						<div class="card-body">
							<h3 class="card-title text-center">Nishit Popat</h3>

							<a href="https://www.linkedin.com/in/nishit-popat/" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
						</div>
					</div>
				</div>
				{% comment %} information about Meet Patel included here {% endcomment %}
				<div class="col-md-3">
					<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
						<img src="{% static 'images/Captain.PNG' %}" class="card-img-top" style="height:240px">
						<div class="card-body">
							<h3 class="card-title text-center">Meet Patel</h3>

							<a href="https://www.linkedin.com/in/meet-patel-005126126/" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
						</div>
					</div>
				</div>
				{% comment %} information about Manil Patel included here {% endcomment %}
				<div class="col-md-3">
					<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
						<img src="{% static 'images/Manil.PNG' %}"  class="card-img-top" style="height:240px">
						<div class="card-body">
							<h3 class="card-title text-center">Manil Patel</h3>

							<a href="https://www.linkedin.com/in/manil-patel-074857190/" 
							class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
						</div>
					</div>
				</div>
				{% comment %} information about Jay Patel included here {% endcomment %}
				<div class="col-md-3">
					<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
						<img src="{% static 'images/jay.jpg' %}" class="card-img-top" style="height:240px">
						<div class="card-body">
							<h3 class="card-title text-center">Jay Patel</h3>

							<a href="https://www.linkedin.com/in/jay-patel-364b791a2/" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
						</div>
					</div>
				</div>
		</center>
</div>

{% endblock %}