{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>

	<div class="modal fade" id="mymodal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="text-dark">Contact Us</h3>
					<button class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body">
					<form method="POST" enctype="multipart/0-data" autocomplete="off">
						<div class="form-group">
							<label for="name"><i class="fas fa-user"></i> &nbsp;Name:</label>
							<input type="text" name="cname" id="name" class="form-control" pattern="[a-zA-Z\s]+"
								title="Enter alphabets only" required>
						</div>
						<div class="form-group">
							<label for="email"><i class="fas fa-envelope"></i> Email:</label>
							<input type="email" name="cemail" id="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="message"><i class="fas fa-comment-alt"></i> Message:</label>
							<textarea class="form-control" rows="5" id="message" name="cmessage" required></textarea>
						</div>
						<div>
							<input type="submit" name="csubmit" class="btn btn-dark">
							<!-- <input class="btn btn-dark form-control" data-dismiss="modal" name="submit" type="submit"></input> -->
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<br><br>
	<h1 class="text-center text-dark">About Us</h1><br><br>
	<center>
		<div class="row">
			<div class="col-md-3">
				<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
					<img src="https://media-exp1.licdn.com/dms/image/C5603AQGBtAoe6MKXdA/profile-displayphoto-shrink_400_400/0/1616091501763?e=1621468800&v=beta&t=ltHdwWYmwMwTA1duKoz7SQq8wEiEP2gDUE0m6zfbiws" class="card-img-top" style="height:240px">
					<div class="card-body">
						<h3 class="card-title text-center">Nishit Popat</h3>

						<a href="#" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
					<img src="{% static 'images/Captain.PNG' %}" class="card-img-top" style="height:240px">
					<div class="card-body">
						<h3 class="card-title text-center">Meet Patel</h3>

						<a href="#" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
					<img src="{% static 'images/Manil.PNG' %}"  class="card-img-top" style="height:240px">
					<div class="card-body">
						<h3 class="card-title text-center">Manil Patel</h3>

						<a href="#" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card mdb-color lighten-2 text-center z-depth-1" style="width:250px">
					<img src="{% static 'images/jay.jpg' %}" class="card-img-top" style="height:240px">
					<div class="card-body">
						<h3 class="card-title text-center">Jay Patel</h3>

						<a href="#" class="btn btn-dark d-block"><i class="fab fa-linkedin"></i> LinkedIn</a>
					</div>
				</div>
			</div>
	</center>
{% endblock %}