 {% comment %} This is the base.html template which includes code of navigation bar  {% endcomment %}
 {% comment %} Author :  Meet Patel{% endcomment %}
 
 {% load static %} {% comment %}  Static directory is loaded here {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static url '/template/leaderboard_css.css' %}" rel="stylesheet">
    {% if title is not None %}
        <title>Document</title>
    {% else %}
        <title> CODEMANIA </title>
    {% endif %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    {% comment %} Code for navigation bar begins from here {% endcomment %}
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #0b0710; opacity: 0.96"
    >
      <div class="container-fluid l-auto">
        <a class="navbar-brand my-auto" href="#">
          <div class="row">
            <div class="col-sm">

              {% comment %} Logo of the application is included here {% endcomment %}
              <img
                src="{% static 'images/codemania_logo.png' %}"
                alt="logo"
                style="height: 50px; width: 60px"
              />
            </div>
            <div class="col-sm">

              {% comment %} Here is the title of the application in nav-bar  {% endcomment %}
              <h2
                style="
                  text-shadow: 1px 1px #fe1a64;
                  text-align: center;
                  padding-top: 4px;
                  color: #66fcf1;
                "
              >
                CODEMANIA
              </h2>
            </div>
          </div>
        </a>
        <ul class="navbar-nav ml-auto" style="margin-right: 30px; color:white">

          {% comment %} Link to go to the Contest Tab in nav-bar {% endcomment %}
          <li class="nav-item">
            <a class="nav-link fs-5" href="{% url 'contest_list' %}">
              Contest
            </a>
          </li>

          {% comment %} Link to go to the Practice Tab in nav-bar {% endcomment %}
          <li class="nav-item">
            <a class="nav-link fs-5" href="{% url 'plg' %}"> Practice </a>
          </li>

          {% comment %} Link to go to the About Us Tab in nav-bar {% endcomment %}
          <li class="nav-item fs-5">
            <a class="nav-link" href="{% url 'aboutus' %}"> About Us </a>
          </li>

          {% comment %} Button for sign out in nav-bar {% endcomment %}
          <li class="nav-item fs-5">
            <a class="nav-link" href="{% url 'lg' %}"> Sign Out </a>
          </li>
        </ul>
      </div>
    </nav>
    {% comment %} Code of navigation bar ends here {% endcomment %}


    <div class="conainer">
        {% block content %} {% endblock %}
    </div>
    
</body>
</html>