<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link href="\leaderboard_css.css" rel="stylesheet">

    <title>Leaderboard</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: #A451FF">
        <div class="container-fluid l-auto">
            <a class="navbar-brand my-auto" href="#" >
                <h3> CODEMANIA </h3>
            </a>

            <ul class="navbar-nav ml-auto" style="margin-right: 30px">
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#" >
                        Contast
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#">
                        Practice
                    </a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link" href="#">
                        About Us
                    </a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link" href="#">
                        Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-5">
        <h1>Leaderboard</h1>

        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Select Contest
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Contest 1</a></li>
              <li><a class="dropdown-item" href="#">Contest 2</a></li>
              <li><a class="dropdown-item" href="#">Contest 3</a></li>
            </ul>
          </div>

          <div class="container leader-board-container">

        <div class="container-sm w-75  tb-bg-color">
            <div class="row mb-3 ">
                <div class="col-1 themed-grid-col col-border fs-5" id="first-row">Rank</div>
                <div class="col-6 themed-grid-col col-border fs-5" id="first-row">Username</div>
                <div class="col-2 themed-grid-col col-border fs-5" id="first-row">Points</div>
            </div>
        </div>
        <div class="container-sm w-75  tb-bg-color">
            <div class="row mb-3 ">
                <div class="col-1 themed-grid-col col-border">1</div>
                <div class="col-6 themed-grid-col col-border">nishit_popat</div>
                <div class="col-2 themed-grid-col col-border">500</div>
            </div>
        </div>
        <div class="container-sm w-75  tb-bg-color">
            <div class="row mb-3 ">
                <div class="col-1 themed-grid-col col-border">1</div>
                <div class="col-6 themed-grid-col col-border">manil_patel</div>
                <div class="col-2 themed-grid-col col-border">500</div>
            </div>
        </div>
        <div class="container-sm w-75  tb-bg-color">
            <div class="row mb-3 ">
                <div class="col-1 themed-grid-col col-border">1</div>
                <div class="col-6 themed-grid-col col-border">meet_patel</div>
                <div class="col-2 themed-grid-col col-border">500</div>
            </div>
        </div>
        <div class="container-sm w-75 tb-bg-color">
            <div class="row mb-3 ">
                <div class="col-1 themed-grid-col col-border">1</div>
                <div class="col-6 themed-grid-col col-border">jay_patel</div>
                <div class="col-2 themed-grid-col col-border">500</div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>