 {% comment %} This is practice.html template which includes code of practice plaground(facility to write and run the code ) {% endcomment %}
 {% comment %} Author :  Meet Patel {% endcomment %}


 {% load static %} {% comment %} static is loaded here {% endcomment %}
<!DOCTYPE html>
<html>
  {% if user.is_authenticated %}
  
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!-- Bootstrap CSS -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous"
      />
      <title>Practice Coding</title>
      {{ form.media }}

    </head>

    <body>

        {% comment %} Code for navigation bar begins from here {% endcomment %}
        <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="background-color: #0b0710; opacity: 0.96"
      >
        <div class="container-fluid l-auto">
          <a class="navbar-brand my-auto" href="#">
            <div class="row">
              <div class="col-sm">
                <img
                  src="{% static 'images/codemania_logo.png' %}"
                  alt="logo"
                  style="height: 50px; width: 60px"
                /> 
              </div>
              <div class="col-sm">
                <h2
                  style="
                    text-shadow: 1px 1px #fe1a64;
                    text-align: center;
                    padding-top: 4px;
                    color: #66fcf1;
                  "
                >
                  CODEMANIA
                </h2>
              </div>
            </div>
          </a>
          <ul class="navbar-nav ml-auto" style="margin-right: 30px; color:white">
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'contest_list' %}">
                {{user.get_username}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'contest_list' %}">
                Contest
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'plg' %}"> Practice </a>
            </li>
            <li class="nav-item fs-5">
              <a class="nav-link" href="{% url 'aboutus' %}"> About Us </a>
            </li>
            <li class="nav-item fs-5">
              <a class="nav-link" href="{% url 'logout' %}"> Sign Out </a>
            </li>
          </ul>
        </div>
      </nav>
      {% comment %} Code for navigation bar ends here {% endcomment %}




      {% comment %} Code for Practice Playground  {% endcomment %}
      <div class="container">
      <h1>Practice Your Program Here</h1>


        {% comment %} form for code editor is provided  {% endcomment %}
        <form action="" method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="form-group">
            <h5>Input</h5>
            <textarea class="form-control" rows="4" name="code_input">{{code_input}}</textarea>
          {% comment %} TextArea to display the output {% endcomment %}
          <h5> Output </h5>
          <textarea class="form-control" rows="4">
          {{output}}
          </textarea>

          {% comment %} Button to run  the code written in editor part {% endcomment %}
          <input type="submit" class="btn btn-success" style="margin-top:10px; margin-left: 73.5em; margin-bottom: 30px; width: 120px"
              value="Run"        
          />
                  
          </div>

          </form>
      </div>
    </body>
  
  {% else %}
    
        <body style="background:white">
            <h2> Please Login to Access this Page. </h2>
        </body>

  {% endif %}
</html>