{% comment %} This is a signin.html file which includes the code of signin page. 
              Authors: Manil Patel,Meet Patel,Jay Patel,Nishit Popat.
{% endcomment %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% comment %} This is the Header part of the signin.html file. {% endcomment %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/leaderboard_css.css'%}" />

    <title>Sign up</title>
</head>

{% comment %} This is the body part of the signin.html file. {% endcomment %}
<body style="background: url(/static/images/bg9.jpg);height: 100vh;-webkit-background-size: cover;background-size: cover;background-position: center center;position: relative;font-family: 'Poppins', sans-serif;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% comment %} This is the nav bar for the signin page {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0b0710; opacity: 0.96">
        <div class="container-fluid l-auto">
            <a class="navbar-brand my-auto" href="#">
                <div class="row">
                    <div class="col-sm">
                        {% comment %} This will displays the logo of COdemania. {% endcomment %}
                        <img src="{% static 'images/codemania_logo.png' %}" alt="logo" style="height: 50px; width: 60px" />
                    </div>
                    <div class="col-sm">
                        {% comment %} This will displays the CODEMANIA text with H2 tag. {% endcomment %}
                        <h2 style="text-shadow: 1px 1px #fe1a64; text-align: center; padding-top: 4px; color: #66fcf1; ">
                            CODEMANIA
                        </h2>
                    </div>
                </div>
            </a>
            <ul class="navbar-nav ml-auto" style="margin-right: 30px; color:white">
                <li class="nav-item">
                    <a class="nav-link fs-5" href="{% url 'admin' %}">
                        Admin Sign In
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% comment %} This loop will displays the message to the user. {% endcomment %} 
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
        {% comment %} We have used the bootstrap to display the messages to the user. {% endcomment %}
        <strong>Message: </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
    {% comment %} This is a signin form which displays signin information and give the entered text to the login view using POST method. {% endcomment %}
    <form class="signup-form" style="margin-left: 60%; margin-top: 8%" action="/login/" method="POST">
        {% csrf_token %}
        <h1 class="h3 fw-normal my-3" style="color: #FE1A64; text-shadow: 2px 2px #f4f4f4; font-size: 2.4em ; margin-top: 2em; ">Sign in Here</h1>
        {% comment %} This displays the Email address label. {% endcomment %}
        <label for="inputEmail" class="visually-hidden">Email address</label> 
        {% comment %} This is the input area for the Email {% endcomment %}
        <input type="text" name="username" id="inputEmail" class="form-control my-4" placeholder="Username"> 
        {% comment %} This displays the Password label. {% endcomment %}
        <label for="inputPassword" name="password" class="visually-hidden">Password</label> 
        {% comment %} This is the input area for the Password. {% endcomment %}
        <input type="password" name='password' id="inputPassword" class="form-control mt-4 mb-4" placeholder="Password"> 
        {% comment %} This button will call the POST method of signin view to take neccessary backend actions. {% endcomment %}
        <button class="w-100 btn btn-lg signin-button mb-3" type="submit">Sign in</button> 
        {% comment %} This link will redirect to the signup page for the new user. {% endcomment %}
        <div class="container mt-3" style="margin-left: 3.09em;">
            <a href="{% url 'register' %}">New User? Click here for Registration</a>
        </div>

    </form>
</body>

</html>